<div class="row-md mb-6 post">
  <header class="card-header" data-postId={{id}}>    
    <div class= "column">
          <p class="title is-pulled-left">{{title}}</p>
    </div>
  </header>
<div class="card-content">
    <p class="content has-text-justified list-group-item" id="content">{{post_content}}</p>
   
    <p class="list-group-item date">Created by {{user.name}} on {{format_date date_created}}</p>
</div>

<button onclick="editUserPost()"> Edit</button>

  </div>

      <script src="/js/editUserPost"> </script>