<div class="mb-5 pt-3 newPost1">
    <button type="submit" class="newPostBtn btn btn-light btn-lg text-center"> <a class="link" id="" href="/new-post">+ New Blog Post</a></button>
    <h2>User Posts:</h>
{{!-- {{#if posts.length}} --}}
</div>

{{#if posts.length}}
{{{posts}}}

{{#each posts as |post|}}
{{{posts}}}
{{!-- {{>dashboard-postinfo post}} --}}
<div class="card mb-6">
      <header class="card-header card-header-title has-background-grey-lighter">
       <div class="column">
           <p class= "has-text-primary-light"></p>
           <a href= "/dashboard/:{{id}}" class="has-text-black is capitalized is-pulled-left"> {{post.title}}</a>
       </div>
      </header>
      <div class="card-content">
          <div class="content has-text-justified">
              {{post.post_content}}
          </div>
          <div class="is-pulled-right">
             <p class="createdBy">Created by: {{user.name}} on {{format_date date_created}} </p> 
          </div>
      </div>
      </div>
{{/each}}
{{else}}
<h6 class="pb-4 has-text-centered is-italic">No Available Posts</h6>
{{/if}}
{{!-- {{if posts.length}}
<section>
    <h2> Your Posts</h2>
    {{#each posts as |post|}}
    {{>dashboard-postinfo}}
    {{/each}}
</section>
{{/if}} --}}

  {{!-- {{#if posts.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{post.id}}">{{post.name}}</a></h4>
      </div>
      {{!-- <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div> --}}
    {{!-- </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}




<script src="js/addPost.js"></script>